/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f8f8f8;
    color: #333;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header h1 {
    font-size: 24px;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Hero Section */
.hero {
    
    padding: 60px 20px;
    color: #fff;
    text-align: center;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 10px;
    color:#e67e22;
}

.hero p {
    font-size: 18px;
    color:#e67e22;
}

}

/* Products Section */
.products {
    padding: 40px 20px;
    }

.products .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    
    
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 5px ;
    padding: 20px;
    width: 30%;
    text-align:center;
    transition: transform 0.2s;
    
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
    
}

.product-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.product-card h4 {
    font-size: 15px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.product-card p {
    font-size: 16px;
    color: #e67e22;
    margin-bottom: 15px;
}

.product-card button {
    background-color: #e67e22;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.product-card button:hover {
    background-color: #d35400;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

footer p {
    font-size: 14px;
}