/* Basic CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    padding: 20px;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header h1 {
    font-size: 24px;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

header nav ul li a:hover {
    text-decoration: underline;
}
.cart-icon {
    margin-left: 10px; /* Space between the search button and cart icon */
    font-size: 18px;
    color: whitesmoke;
    text-decoration: none;
  }
  
  .cart-icon i {
    display: inline-block;
    vertical-align: middle;
  }


/* Main Content Styling */
main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-section h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #e91e63;
}

.about-section h3 {
    margin-top: 30px;
    color: #e91e63;
}

.about-section p {
    margin-bottom: 20px;
    line-height: 1.8;
    text-align: justify;
}

/* Footer Styling */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    margin-top: 20px;
}