body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #333;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 24px;
    color:white;

}

 nav ul {
    list-style: none;
    display: flex;
}

 nav ul li {
    margin-left: 20px;
}

 nav ul li a {
    color: #fff;
      text-decoration: none;
    font-size: 16px;
}

 nav ul li a:hover {
    text-decoration: underline;
}

.cart {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

h2 {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.cart-item-img {
    width: 100px;
    height: 100px;
    margin-right: 15px;
    border-radius: 5px;
}

.cart-item button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 10px;
}

.cart-item button:hover {
    background-color: #c82333;
}

#total-price {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    margin-top: 20px;
}

#checkout-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    width: 100%;
    margin-top: 20px;
}

#checkout-button:hover {
    background-color: #0056b3;
}
footer {
    background-color: #333;
    padding: 20px 10%;
    text-align: center;
    border-top: 1px solid #dddddd;
}

footer p {
    margin-bottom: 10px;
    color: white;
}
footer li{
    color:white;
}
footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
}

footer ul li a {
    text-decoration: none;
    color:white;
    font-size: 14px;

}

footer ul li a:hover {
    color: #e4a69a; /* Soft pink color */
}

/* Responsive Design */
@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 36px;
    }

    .hero-content p {
        font-size: 18px;
        color:rgb(203, 66, 66);
    
    }

    .product-list {
        flex-direction: column;
        align-items: center;
    }

    .product-item {
        max-width: 100%;
    }
}
